body{
    background-color: bisque;
}
.Malzahar{
    background-color: azure;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    color: black;
    margin: 100px auto 100px auto;
    border: 5px groove #16D8CD ;
}
.Malzahar h2{
color: black;
background-color: #16D8CD;
border-radius: 10px;
}
.Malzahar p{
    text-align: center;
    color: black;
}
.Malzahar img{
    border-radius: 100%;
}
.btn-malzahar{
    background-color: #16D8CD;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 900;
    box-shadow: 3px 3px 3px black;
    border-radius: 3px;
    cursor: pointer;
}

.btn-malzahar:hover{
    background-color: blueviolet;
}

.btn_boton1{
    background: linear-gradient( red, green (211, 235, 3));
    border: none;
    padding: 0.5rem 1rem;
    box-shadow: 5px 5px 5px rgb(22, 22, 21);
    cursor: pointer;
  }
  .btn_boton1:hover{
  background-color: rgb(255, 174, 0);
  }
  
  .imagenconsombra{
    box-shadow: 5px 5px 5px rgb(22, 22, 21);
    border-radius: 50px;
    border: 5px solid white;
  }
  .caja{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
    height: 500px;
    border-radius: 100px;
    
    margin: 100px auto 100px auto;
    padding-bottom: 10px;
    box-shadow: 5px 4px 3px #000;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

  }

  .caja2{
  display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
    height: 500px;
    border-radius: 100px;
    
    margin: 100px auto 100px auto;
    padding-bottom: 10px;
    box-shadow: 5px 4px 3px #000;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);}